.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
 }
 
 .container > div {
     flex-basis: 100%;
 }
 
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .container > div {
        flex-basis: 100%;
    }
  }
  
  /* Small devices (phones, 576px and up) */
  @media (min-width: 576px) {
    .container > div {
        flex-basis: 100%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .container > div {
        flex-basis: 22%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container > div {
        flex-basis: 22%;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .container > div {
        flex-basis: 22%;
    }
  }
  
 
 img {
     max-width: 100%;
  }

  form input[type=text], form input[type=email], form textarea {
    box-sizing: border-box;
    padding: 5px;
  }
  
 